.container {
  width: 100%;
  height: 84vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  min-width: 30vw;
  min-height: 50vh;
  overflow: hidden;
  display: flex;

  border: 1px solid black;
  border-radius: 5%;
}

.panel {
  min-width: 20%;
  min-height: 50vh;
  display: inline-flex;
  flex-direction: column;

  background-color: black;
  color: white;
}
.panel div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
}

.panel div:hover {
  background-color: grey;
  transition: 0.2s;
}

.selected {
  text-decoration: underline;
}

.panelDisplay {
  width: 100%;
}

.panelDisplay form {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;

  gap: 20px;

  padding: 10%;
}
.panelDisplay form button {
  margin-top: auto;
}

.panelDisplay form textarea {
  height: 4rem;
  overflow: hidden;
  resize: none;
}

.panelDisplay form textarea::-webkit-scrollbar {
  display: hidden;
}
.panelDisplay form button {
  height: 2rem;
}

.center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 10%;
}

.center button {
  height: 2rem;
  margin-top: auto;
}
.center p {
  color: red;
  font-weight: 600;
}
