.container {
  margin: 30px;
  padding: 10px;
  padding-bottom: 20px;
  border: 1px solid black;
}

.user {
  height: 3vh;
  display: flex;
  align-items: center;
}
.user img {
  height: 100%;
  border-radius: 50%;
}
